ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
  justify-content: space-between;
}

.hamburger {
  display: none;
  float: right;
}

nav {
  margin-right: 20px;
}

.home-button{
    background-color: #6c757d;
    border-color: #6c757d;
    color:white;
    border-radius: .5rem;

}
.signup-button{
    background-color: #AA66CC;
    color:white;
    border-radius: .5rem;
}
@media screen and (max-width: 600px) {
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
  }
  nav {
    float: right;
    height: 100vh;
  }
  .hamburger {
    display: block;
  }

  .invisible {
    display: none;
  }
}
